schedules:
- cron: "0 0 0 * *"
  displayName: 25th 5:30 AM (IST) Every Month
  branches:
    include:
    - master
pool:
  vmImage: 'ubuntu-latest'
steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

