- task: AzureCLI@2
  displayName: Azure CLI
  inputs:
    azureSubscription: '3ccd006c-37e8-4e70-acf7-702151c1fa29'
    scriptType: ps
    scriptLocation: inlineScript
    inlineScript: |
      az --version
      az account show